@import 'common';

.aye-main {
    height: 100%;
    max-width: 90%;
    margin: auto;
    img {
        width: 100%;
        margin: 30px 0;
    }
    .aye-text {
        direction: rtl;
        width: 100%;
        background-image: linear-gradient(45deg, #729e8dc7, rgba($color: $primary-color2, $alpha: 0.4));
        box-shadow: 0 0 5px 0 $primary-color2;
        height: inherit; 
        position: relative;
        padding: 0;
        border: 1px ridge rgba(0, 158, 137, 0.87);
        margin: 15px auto ;
        font-size: 30px;
        color: rgba(34, 34, 34, 0.733);
        font-family: $font-farsi;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: 0.5s;         
    }
}
.copied {
    position: sticky;
    z-index: 1000;
    top: 0;
    height: 50px;
    width: 250px;
    transform: translateY(-120%);
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.753);
    transition: 0.5s;
    p{
        display: block;
        color: rgba(0, 0, 0, 0.774);
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        position: relative;
        @include centeredtop();
        
    }
}
.ayeText {
    display: block;
    height: inherit;
    width: 100%;
    text-align: center;
    position: relative;
    top: 20px;
}

.aye-page-footer {
    height: 200px;
}
.aye-page-header {
    height: 60px;
    background-color: rgba(0, 92, 80, 0.589);
    box-shadow: 0px 5px 5px 1px rgba(0, 158, 137, 0.39);
    color: rgba(255, 255, 255, 0.623);
    text-align: center;
    font-family: $font-farsi;
    padding-top: 8px;
    font-size: 30px;
    position: sticky;
    top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.705) ;
    z-index: 10;
    p {
        position: absolute;
        @include centeredboth;
    }
}
path {
    pointer-events: none;
}
.playButton {
    pointer-events: inherit;
    cursor: pointer;
    transition: 0.3s;
}
.playButton:hover {
    font-size: 34px;
}
.ayeButtons {
    width: 30%;
    position: relative;
    height: 100px;
    z-index: 100;
    p {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 40px;
    }
    svg {
        position: relative;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }
}
